---
import {Button, Grid, GridSlice} from "contemporary-astro-components";
import Layout from "../layouts/Layout.astro";
import { LatestVersionIndicator } from "../components/LatestVersionIndicator.tsx";

function downloadUrl(target: string, channel: string) {
    return `https://binchicken.vicr123.com/api/repositories/thegrid/latest/by_target_channel/${target}/${channel}/download`
}
---

<Layout page_title="Download">
    <Grid>
        <GridSlice>
            <h1>Download theGrid</h1>
        </GridSlice>
    </Grid>
    <Grid>
        <GridSlice width={12}>
            <p>Choose your operating system and platform.</p>
            <LatestVersionIndicator client:load />
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>Windows</h2>
            <Button href={downloadUrl("x86_64-pc-windows-msvc", "stable")}>Windows (x86_64)</Button>
            <Button href={downloadUrl("aarch64-pc-windows-msvc", "stable")}>Windows (arm64)</Button>
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>macOS</h2>
            <Button href={downloadUrl("aarch64-apple-darwin-dmg", "stable")}>macOS (Apple Silicon)</Button>
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>Linux</h2>
            <Button href={downloadUrl("x86_64-unknown-linux-gnu", "stable")}>AppImage (x86_64)</Button>
            <Button href={downloadUrl("aarch64-unknown-linux-gnu", "stable")}>AppImage (arm64)</Button>
        </GridSlice>
        <GridSlice width={12}>
            <div class="more-releases-container">
                <a href="https://github.com/thecheeseboard/thegrid/releases">
                    More releases on the GitHub Releases page →
                </a>
            </div>
        </GridSlice>
    </Grid>
    <Grid>
        <GridSlice width={12}>
            <h2>Blueprint Builds</h2>
            <p>If you'd like to see what's coming up, you can try the Blueprint builds. They'll contain the latest
                features, hot off the press, but they might be unstable.</p>
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>Windows</h2>
            <Button href={downloadUrl("x86_64-pc-windows-msvc", "blueprint")}>Windows (x86_64)</Button>
            <Button href={downloadUrl("aarch64-pc-windows-msvc", "blueprint")}>Windows (arm64)</Button>
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>macOS</h2>
            <Button href={downloadUrl("aarch64-apple-darwin-dmg", "blueprint")}>macOS (Apple Silicon)</Button>
        </GridSlice>
        <GridSlice class="download-platform-group">
            <h2>Linux</h2>
            <Button href={downloadUrl("x86_64-unknown-linux-gnu", "blueprint")}>AppImage (x86_64)</Button>
            <Button href={downloadUrl("aarch64-unknown-linux-gnu", "blueprint")}>AppImage (arm64)</Button>
        </GridSlice>
    </Grid>
</Layout>

<style>
    .warning {
        border: 1px solid var(--border-color);
        background-color: var(--warning-accent);
        border-radius: 4px;
        padding: 3px;
    }

    .warning p {
        font-weight: bold;
        margin: 0;
    }

    .download-platform-group {
        background-color: var(--layer-color);
        padding: 4px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .download-platform-group h2 {
        text-transform: uppercase;
        margin: 0;
        font-size: unset;
        font-weight: bold;
    }

    .more-releases-container {
        display: flex;
        justify-content: flex-end;
    }
</style>