---
import LogoContainer from "./LogoContainer.astro";
import SocialIcons from "./SocialIcons.astro";
---

<div class="mobile-header">
    <a href="/">
        <LogoContainer />
    </a>
    <div class="filler" />
    <SocialIcons />
</div>

<style>
    a {
        color: var(--foreground-color);
    }

    .mobile-header {
        display: flex;
        align-items: center;

        flex-grow: 1;
    }

    .filler {
        flex-grow: 1;
    }
</style>