---
interface Props {
    href?: string;
    target?: string;
    type?: "secondary";
}

const { type, target, href } = Astro.props;
---

<a class:list={type ? [type] : []} href={href} target={target}>
    <slot />
</a>

<style>
    a {
        display: inline-block;
        padding: 4px;
        border-radius: 4px;
        background-color: var(--accent-color-1);
        color: var(--foreground-color);
        text-align: center;
    }

    a.secondary {
        background-color: var(--layer-color);
    }
</style>