---
import Grid from "./Grid.astro";
import GridSlice from "./GridSlice.astro";
import LogoContainer from "./Header/LogoContainer.astro";


---

<footer>
    <Grid>
        <GridSlice>
            <LogoContainer />
        </GridSlice>
    </Grid>
    <Grid>
        <GridSlice width={12}>
            <div class="footer-links">
                <a href="/">
                    Home
                </a>
                <a href="/download">
                    Download
                </a>
                <div class="line" />
                <a href="https://matrix.to/#/!oDEvITb2MViWFgdJe5:bnbdiscord.net?via=bnbdiscord.net&via=matrix.org">
                    #thegrid:bnbdiscord.net
                </a>
                <div class="line" />
                <a href="https://vicr123.com" target="_blank">
                    Victor Tran
                </a>
            </div>
        </GridSlice>
    </Grid>
    <Grid>
        <GridSlice class="left">
            <span class="copyright-notice">&copy; Victor Tran, 2026.</span>
        </GridSlice>
    </Grid>
</footer>

<style>
    footer {
        background-color: var(--layer-color);

        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .copyright-notice {
        font-size: 12px;
        opacity: 0.7;
    }

    .footer-links {
        opacity: 0.7;
        display: flex;
        align-items: stretch;
        gap: 16px;
    }

    .footer-links a {
        color: var(--foreground-color);
    }

    .line {
        width: 1px;
        background-color: var(--foreground-color);
    }

    .footer-links a:hover {
        text-decoration: underline;
    }
</style>