---
interface Props {
    class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<div class:list={[`grid`, className]} {...rest}>
    <slot />
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        padding: 16px;
        justify-content: center;
    }

    @media (min-width: 1440px) {
        .grid {
            grid-template-columns: repeat(12, 78px);
            gap: 16px;
        }
    }

    @media (max-width: 1024px) {
        .grid {
            grid-template-columns: repeat(8, 1fr);
            gap: 16px;
        }
    }

    @media (max-width: 768px) {
        .grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
</style>